{% extends "layouts/layout.html" %}

{# content #}
{% block content %}   
<script type="text/javascript" src="../jquery.js"></script>
<script type="text/javascript" src="../cboxmod.js"></script>
<table class="contentTab" style="width:750px" cellpadding="0" cellspacing="0" border="0">
	<tr> 
		<td class="contentTabTd1"></td> 
		<td class="contentTabTd2"></td>
	</tr>
	<tr> 
		<td class="contentTabTd3">
			<div class="buildinfo" id="liter_a">
				<div class="flatinfo">
                    <p><b>Квартира №1</b> <span class="sold">продана</span></p>
                    <p>
                        <a target="_blank" title="3d тур по дому, 5 к., 269.4 м², Петровская улица, д. 15, Выборгский район, Санкт-Петербург" style="color:red; font-size: medium;" href="http://sterium.com/tour/12182/buy">
                            Посмотреть 3D тур
                        </a>
                    </p>
					<table class="sqrinfo">
						<tr>
							<td>Общая площадь:</td> 
							<td><strong>269,7 м<sup>2</sup></strong></td>
						</tr>
						<tr>
							<td>Площадь квартиры 
							<br>без технических помещений:</td> 
							<td><strong>177 м<sup>2</sup></strong></td>
						</tr>
						<tr>
							<td>Площадь цокольного этажа:</td> 
							<td><strong>98,74 м<sup>2</sup></strong></td>
						</tr>
						<tr>
							<td>Количество уровней:</td> 
							<td><strong>3</strong></td>
						</tr>
					</table>
					<p>Вид из окон:
					<br>&ndash; во двор
					<br>&ndash; на соседний участок
					<br>&ndash; под углом на озеро
					</p>
				</div>
				<div class="otherlinks">
					<p>Другие квартиры в этом доме:</p>
					<p><a href="/html/a2.html" title="Четырёхуровневая квартира с мансардным этажом общей площадью 379,9 м&sup2;">квартира №2</a></p>
					<p><a href="/html/a3.html" title="Трёхуровневая квартира общей площадью 269,4 м&sup2; с прямым видом на озеро">квартира №3</a></p>
				</div>
				<p style="text-indent:0"><a href="/html/liter-a.html" title="Трёхквартирный дом, литер А (ул. Петровская, д.13, лит А)" class="backlink">Назад к описанию дома</a></p>
			</div>
			<div class="flatplans">
				<div class="shem1TabTd5 floorplan">
					<a href="?1a_2" title="Подробнее">Второй этаж<br>
						<img src="/pic/pixel.gif" width="254" height="151" class="shem6" alt="2 этаж"></a>
				</div>
				<div class="shem1TabTd4 floorplan">
					<a href="?1a_1" title="Подробнее">Первый этаж<br>
						<img src="/pic/pixel.gif" width="254" height="151" class="shem5" alt="1 этаж"></a>
				</div>
				<div class="shem1TabTd3 floorplan">
					<a href="?1a_0" title="Подробнее">Цокольный этаж<br>
						<img src="/pic/pixel.gif" width="254" height="151" class="shem4" alt="Цокольный этаж"></a>
				</div>
			</div>
		</td> 
		<td class="contentTabTd4"></td>
	</tr>
	<tr> 
		<td class="contentTabTd5"></td> 
		<td class="contentTabTd6"></td>
	</tr>
</table>
   
{% endblock %}