{% extends "layouts/layout.html" %}
{# content #}
{% block content %}
   
   <script type="text/javascript" src="../jquery.js"></script>
<script type="text/javascript" src="../cboxmod.js"></script>
<table class="contentTab" style="width:1000px" cellpadding="0" cellspacing="0" border="0">
	<tr> 
		<td class="contentTabTd1"></td> 
		<td class="contentTabTd2"></td>
	</tr>
	<tr> 
		<td class="contentTabTd3">
			<div class="buildinfo" id="liter_b">
				<div class="flatinfo">
					<p><b>Квартира №5</b> <span class="price">— 54.900 р./кв.м.</span></p>
                    <p>
                        <a target="_blank" title="3d тур по дому, 4 к., 317 м², Петровская улица, д. 15, Выборгский район, Санкт-Петербург" style="color:red; font-size: medium;" href="http://sterium.com/tour/12185/buy">
                            Посмотреть 3D тур
                        </a>
                    </p>
					<table class="sqrinfo">
						<tr>
							<td>Общая площадь:</td> 
							<td><strong>316,7 м<sup>2</sup></strong></td>
						</tr>
						<tr>
							<td>Площадь квартиры 
							<br>без технических помещений:</td> 
							<td><strong>209,7 м<sup>2</sup></strong></td>
						</tr>
						<tr>
							<td>Площадь цокольного этажа:</td> 
							<td><strong>85,97 м<sup>2</sup></strong></td>
						</tr>
						<tr>
							<td>Количество уровней:</td> 
							<td><strong>4</strong></td>
						</tr>
					</table>
					<p>Вид из окон:
					<br>&ndash; с 1-го этажа: на улицу Первомайская
					<br>&ndash; со 2-го этажа: во двор и на улицу Первомайская
					<br>&ndash; с мансардного этажа: на улицу и через двор на озеро
					</p>
				</div>
				<div class="otherlinks">
					<p>Другие квартиры в этом доме:</p>
					<p><a href="/html/b4.html" title="Трёхуровневая квартира общей площадью 245,6 м&sup2;">квартира №4</a></p>
					<p><a href="/html/b6.html" title="Четырёхуровневая квартира с мансардным этажом общей площадью 419,5 м&sup2;">квартира №6</a></p>
				</div>
			<p style="text-indent:0"><a href="/html/liter-b.html" title="Трёхквартирный дом, литер Б (ул. Первомайская, д.26 лит А)" class="backlink">Назад к описанию дома</a></p>
			</div>
			<div class="flatplans" style="width:554px">
				<div style="float:right" class="shem1TabTd5 floorplan">
					<a href="?5b_3" title="Подробнее">Мансардный этаж<br>
						<img src="/pic/pixel.gif" width="254" height="151" class="shem17" alt="Мансардный этаж"></a>
				</div>
				<div class="shem1TabTd5 floorplan">
					<a href="?5b_2" title="Подробнее">Второй этаж<br>
						<img src="/pic/pixel.gif" width="254" height="151" class="shem16" alt="2 этаж"></a>
				</div>
			</div>
			<div class="flatplans" style="padding-top:0">
				<div class="shem1TabTd4 floorplan">
					<a href="?5b_1" title="Подробнее">Первый этаж<br>
						<img src="/pic/pixel.gif" width="254" height="151" class="shem15" alt="1 этаж"></a>
				</div>
				<div class="shem1TabTd3 floorplan">
					<a href="?5b_0" title="Подробнее">Цокольный этаж<br>
						<img src="/pic/pixel.gif" width="254" height="151" class="shem14" alt="Цокольный этаж"></a>
				</div> 
			</div>
		</td> 
		<td class="contentTabTd4"></td>
	</tr>
	<tr> 
		<td class="contentTabTd5"></td> 
		<td class="contentTabTd6"></td>
	</tr>
</table>
   
  {% endblock %}