{% extends "layouts/layout.html" %}

{# content #}
{% block content %}
<table cellpadding="0" cellspacing="0" border="0" style="width:600px;">
    <tr>
        <td class="contentTabTd1"></td>
        <td class="contentTabTd2"></td>
    </tr>
    <tr>
        <td class="contentTabTd3" style="padding:25px 50px 0 100px; font-size: 14px;">
            <p>
                Как приятно после суеты большого города вернуться домой и окунуться в тишину и гармонию коттеджного поселка
                Петербурга. То, что «Усадьба у озера» относится к элитной недвижимости Петербурга, не возникает сомнений.
                Таунхаусы обеспечены всеми коммуникациями, располагаются в уникальном месте, на берегу Суздальского озера,
                где в 18-19 веках находились дачные строения рода Шуваловых.</p>
            <p>Продажа элитной недвижимости, как и покупка элитной квартиры Петербурга – дело, требующее особого подхода.
                Продажа коттеджей в Петербурге в настоящее время очень актуальна. Все больше людей выбирают комфортную и уютную
                жизнь вдали от суматохи большого города.</p>
            <p>«Усадьба у озера» отличается от других таунхаусов Петербурга тем, что <span style="white-space:nowrap">это не просто загородный дом,</span>
                это определенный стиль жизни. Единое стилистическое и архитектурное решение фасадов, воссозданных по историческим
                аналогам, прекрасно сочетается с великолепием окружающей природы. Открывающийся из окон вид на парк и озеро
                принесут в дом гармонию и спокойствие.</p>
			<p style="color:red; font-weight:bold;text-align:right;">
                В трех квартирах уже живут люди. <br/><br/>
                В продаже последняя квартира!
            </p>
            Посмотрите <b style="color: red;">3D туры</b> по квартирам:
            <ul>
                <li style="margin-bottom: 6px;">
                    <a target="_blank" title="3d тур по дому, 5 к., 269.4 м², Петровская улица, д. 15, Выборгский район, Санкт-Петербург" style="" href="http://sterium.com/tour/12182/buy">
                        ул. Петровская, д.13, лит А
                    </a>
                </li>
                <li>
                    <a target="_blank" title="3d тур по дому, 4 к., 317 м², Петровская улица, д. 15, Выборгский район, Санкт-Петербург" style="" href="http://sterium.com/tour/12185/buy">
                        ул. Первомайская, д.26 лит А
                    </a>
                </li>
            </ul>
            <!--  
            <div align=left>
            <FONT SIZE="+2" COLOR="#660033"> <strong>ВНИМАНИЕ!<br>
            <nobr> Весеннее предложение!  </nobr></strong></FONT>
            <br>
            <FONT SIZE="+2" COLOR="#660033"><strong><nobr>58 500 руб. за кв. метр!</nobr></strong></FONT>
            </div>
            -->
            <br>
            <p style="text-align:right"><strong>На ВСЕ квартиры получены свидетельства о собственности.<br>Электричество, газ, водопровод и канализация подключены.</strong></p>
            <p style="text-align:right"><strong>Рассматривается зачет имеющейся недвижимости.<br />
                    Возможна ипотека с участием банков ВТБ-24 или UniCredit.</strong></p>
            <br />
        </td>
        <td class="contentTabTd4"></td>
    </tr>
    <tr>
        <td class="contentTabTd5"></td>
        <td class="contentTabTd6"></td>
    </tr>
</table>
{% endblock %}

